.App {
  text-align: left;
}

.enter {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.enter input {
  width: 400px;
  height: 80px;
  margin: 15px;
  font-size: 20px;
}

.item {
  width: 400px;
  height: 180px;
  border: 5px solid rgb(131, 209, 131);
  border-radius: 10px;
  margin: 8px;
}

#bSubmit {
  width: 200px;
  height: 20px;
}
* {
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
  background: #eeeeee;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}